<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LABORATORIO REMOTO SOLAR</title>
    </head>
    
    <body>
        <h1>CONTROL DE MOTOR PASO A PASO</h1>
        <!-- <button id="led">ON</button> -->
        <!-- <button id="ledoff">OFF</button> -->
        <form action="/" method="post">
            <input type="numb" name="angulo"><br>
            <button type="submit" name="sub" value="enviar">submit</button>
            <button type="submit" name="sub" value="on">ON</button>
            <button type="submit" name="sub" value="off">OFF</button>
        </form>
    </body>
</html>